<div class="row justify-content-center">
    <div class="col-8">
        <h3 class="text-center mb-3">UPDATE PRODUCT</h3>
        <form enctype="multipart/form-data" class="form-floating">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="">
                <label for="name">Name</label>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input class="form-control" type="file" id="image" name="image" accept="image/*">
                <div id="imagePreview" class="mt-2 text-center">
                    <img width="600px">
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="quantity" name="quantity" placeholder="">
                <label for="quantity">Quantity</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="price" name="price" placeholder="">
                <label for="price">Price</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="category" name="category" aria-label="Floating label select example">
                </select>
                <label for="category">Categories</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="" id="description" name="description"
                    style="height: 100px"></textarea>
                <label for="description">Description</label>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary text-center">Save</button>
            </div>
        </form>
    </div>
</div>
<script>
    //action="" method="POST"
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');
    $(document).ready(function () {
        if (id) {
            loadProduct(id);
        } else {
            loadCategories();
        }
    })
    function loadProduct(id) {
        $.ajax({
            url: '/api/product',
            data: { id },
            type: 'GET',
            success: (res) => {
                if (res.success) {
                    const prod = res.product;
                    $('#name').val(prod.name);
                    $('#quantity').val(prod.quantity);
                    $('#price').val(prod.price);
                    $('#description').text(prod.desc);
                    loadCategories(prod.category._id);
                    $('#imagePreview').find('img').attr('src', `/img/${prod.img}`);
                }
            },
            error: () => {
                console.log('ERROR')
            }
        })
    }
    function loadCategories(id) {
        $.ajax({
            url: '/api/categories',
            type: 'GET',
            success: (res) => {
                if (res.success) {
                    $('.form-select').empty().append(`<option value="0">--- Choose Category ---</option>`);
                    $(res.categories).each(function (i, v) {
                        $('.form-select').append(
                            `<option value="${v._id}" ${id == v._id ? 'selected' : ''}>${v.name}</option>`
                        );
                    });
                }
            },
            error: () => { }
        })
    }
    $('form').submit(function (e) {
        e.preventDefault();
        const formData = new FormData($(this)[0]);
        formData.append('id', id);
        $.ajax({
            url: '/api/update-product',
            type: 'POST',
            data: formData,
            contentType: false, // Không đặt contentType khi sử dụng FormData
            processData: false, // Không xử lý dữ liệu
            success: (res) => {
                if (res.success) {
                    window.location.href = '/product';
                } else {
                    toast({
                        title: "Thất bại!",
                        message: res.message,
                        type: "error",
                        duration: 5000
                    });
                }
            },
            error: () => {
                console.log('error');
            }
        })
    })
    // Sự kiện khi chọn tệp hình ảnh
    $('#image').change(function () {
        // Kiểm tra xem có tệp được chọn không
        if (this.files && this.files[0]) {
            var reader = new FileReader();

            // Sự kiện khi đọc hoàn thành
            reader.onload = function (e) {
                // Hiển thị hình ảnh đã đọc trong thẻ <img>
                $('#imagePreview').find('img').attr('src', e.target.result);
            }

            // Đọc tệp hình ảnh
            reader.readAsDataURL(this.files[0]);
        }
    });

</script>